@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.component {
  background-image: linear-gradient(to top, hsl(226deg, 43%, 10%), var(--i));
  max-height: 20rem;
}
@media (max-width: 767px) {
  .component {
    height: 10rem;
    overflow: hidden;
  }
}
.component .svg {
  text-align: right;
  height: 20%;
  overflow: hidden;
}
.component .svg svg {
  font-size: 5rem;
  z-index: -1;
}
.component .info {
  height: 80%;
  border-radius: 1rem;
  padding: 3rem;
  background-color: hsl(226deg, 43%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component .info:hover {
  background-color: hsl(235deg, 46%, 20%);
}
@media (max-width: 767px) {
  .component .info {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1.5rem;
  }
}
.component .info .details {
  display: flex;
  justify-content: space-between;
}
.component .info .details .dots {
  display: flex;
  justify-content: flex-end;
}
.component .info .details .dots span {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: hsl(236deg, 100%, 87%);
}
.component .info .details .dots span:not(:nth-child(3)) {
  margin-right: 0.1rem;
}
@media (max-width: 767px) {
  .component .info .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.component .info .time .hours {
  font-weight: lighter;
}
.component .info .time .more-info {
  font-size: 1.2rem;
  color: hsl(236deg, 100%, 87%);
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
}
html body {
  height: 100vh;
  font: 1.8rem rubik;
  background-color: hsl(226deg, 43%, 10%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80rem;
  height: 40rem;
}
@media (max-width: 767px) {
  .container {
    width: 95%;
    height: 95%;
    padding: 5%;
  }
}

.cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "main bra1 bra2 bra3" "main bra4 bra5 bra6";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
}
@media (max-width: 767px) {
  .cards {
    grid-template-areas: "main" "bra1" "bra2" "bra3" "bra4" "bra5" "bra6";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }
}
.cards .card {
  color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem #000;
}
.cards .card1 {
  background-color: hsl(226deg, 43%, 10%);
  grid-area: main;
}
.cards .card1:hover {
  background-color: hsl(235deg, 46%, 20%);
}
.cards .card1 .name {
  width: 100%;
  height: 65%;
  padding: 3rem;
  background-color: hsl(246deg, 80%, 60%);
  border-radius: 1rem;
}
@media (max-width: 767px) {
  .cards .card1 .name {
    height: 60%;
    display: grid;
    padding: 1.5rem;
    grid-template-areas: "img small small" "img h1 h1";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.cards .card1 .name img {
  max-width: 40%;
  border: 0.2rem solid white;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .cards .card1 .name img {
    grid-area: img;
    max-width: 50%;
    justify-self: center;
  }
}
.cards .card1 .name small {
  display: block;
  margin-top: 3rem;
  color: hsl(236deg, 100%, 87%);
}
@media (max-width: 767px) {
  .cards .card1 .name small {
    grid-area: small;
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1rem;
    align-self: center;
  }
}
.cards .card1 .name h1 {
  font-weight: lighter;
  color: white;
  margin-top: 0.2rem;
}
@media (max-width: 767px) {
  .cards .card1 .name h1 {
    grid-area: h1;
    font-size: 1rem;
    margin-top: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.cards .card1 ul {
  list-style: none;
  width: 100%;
  padding: 1rem 3rem;
  color: hsl(235deg, 45%, 61%);
  font-size: 1.3rem;
}
@media (max-width: 767px) {
  .cards .card1 ul {
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
  }
}
.cards .card1 ul li {
  margin: 1.5rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.cards .card1 ul li.active, .cards .card1 ul li:hover {
  color: white;
}
.cards .card2 {
  grid-area: bra1;
}
.cards .card3 {
  grid-area: bra2;
}
.cards .card4 {
  grid-area: bra3;
}
.cards .card5 {
  grid-area: bra4;
}
.cards .card6 {
  grid-area: bra5;
}
.cards .card7 {
  grid-area: bra6;
}/*# sourceMappingURL=style.css.map */