.component {
  background-image: linear-gradient(to top, $very_dark_blue , var(--i)) ;
  max-height: 20rem;
  @media #{$mobile-max} {
    height: 10rem;
    overflow: hidden;
  }
  .svg {
    text-align: right;
    height: 20%;
    overflow: hidden;
    svg {
      font-size: 5rem;
      z-index: -1;
    }
  }
  .info {
    height: 80%;
    @include borderRadius(1rem);
    padding: 3rem;
    background-color: $very_dark_blue;
    &:hover {
      background-color: $dark_blue;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media #{$mobile-max} {
      height: fit-content;
      padding: 1.5rem;
    }
    .details {
      display: flex;
      justify-content: space-between;
      .dots {
        display: flex;
        justify-content: flex-end;
        span {
          width: .5rem;
          height: .5rem;
          @include borderRadius(50%);
          background-color: $pale_blue;
          &:not(:nth-child(3)) {
            margin-right: .1rem;
          }
        }
      }
    }
    .time {
      @media #{$mobile-max} {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    .hours {
      font-weight: lighter;
    }
    .more-info {
      font-size: 1.2rem;
      color: $pale_blue;
      font-weight: lighter;
    }
    }
  }
}